.header {
  display: flex;
  flex-direction: row;
  height: 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  background-color: yellow;
  position: sticky;
  top: 0;
}

.header > * {
  min-width: 2rem;
}

.avatar {
  width: 2rem;
  height: 2rem;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
  color: #444;
  text-align: center;
  font-family: sans-serif;
}

button.nav {
  border: none;
  font-weight: bold;
  font-size: 20px;
  color: #444;
  background: none;
  width: 100%;
  text-align: right;
}

ul.menu {
  position: absolute;
  top: 2rem;
  right: 0.5rem;
  list-style: none;
  margin: 0;
}

ul.menu li {
  background-color: white;
  border: 1px solid #444;
  border-bottom: none;
  padding: 0.2rem 0.4rem;
}

ul.menu li:last-child {
  border-bottom: 1px solid #444;
}

ul.menu li > a {
  text-decoration: none;
}

ul.menu li > a.active {
  font-weight: bold;
}
