{
  "extends": ["@agilecontent/eslint-config/frontend"],
  "plugins": ["import"],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "typescript": true,
      "node": true
    }
  },
  "rules": {
    "react/jsx-no-undef": "off",
    "react/jsx-fragments": ["warn", "syntax"],
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "import/extensions": [
      "error",
      "always",
      {
        "ignorePackages": true
      }
    ],
    "import/order": [
      "warn",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "unknown",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ],
        "newlines-between": "always"
      }
    ]
  }
}
