.profile {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.header {
  height: 4rem;
  width: 100%;
  margin-bottom: -4rem;
  background-color: lightgray;
}

.header img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.avatar {
  height: 4rem;
  text-align: center;
}

.name {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.name h2 {
  display: inline-block;
  margin: 0 auto 0.5rem;
}

.name small {
  display: inline-block;
}

.info {
  display: block;
}

.info summary {
  list-style: none;
  text-align: center;
  text-transform: lowercase;
  cursor: pointer;
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
}

.followers,
.following,
.toots {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}
