.profile {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    ". avatar ."
    "name name name"
    "info info info"
    "start middle end";
  padding: 0.5rem;
}

.header {
  height: 4rem;
  width: 100%;
  margin-bottom: -4rem;
  background-color: lightgray;
}

.header img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.avatar {
  grid-area: avatar;
  height: 4rem;
  text-align: center;
}

.name {
  grid-area: name;
  text-align: center;
}

.name h2 {
  display: inline-block;
  margin-top: 0;
}

.name small {
  display: inline-block;
}

.info {
  grid-area: info;
}

.info summary {
  list-style: none;
  text-align: center;
  text-transform: lowercase;
  cursor: pointer;
}

.followers {
  grid-area: start;
}

.following {
  grid-area: middle;
}

.stats {
  grid-area: end;
}

.followers,
.following,
.stats {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}
